header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 5rem;
}
header h2 {
  flex: 3;
  padding-left: 0.5rem;
  color: rgb(235, 102, 124);
}
.header__links {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__links li {
  all: unset;
  padding: 0.2rem;
}
.header__links li a {
  all: unset;
  font-weight: bold;
  cursor: pointer;
}
header form {
  border-radius: 1rem;
  display: flex;
  background-color: rgb(236, 235, 235);
  align-items: center;
  justify-content: center;
}
header form input {
  background-color: rgb(236, 235, 235);
  outline: none;
  margin: 0.3rem;
  width: 90%;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
}
